<p class="meta">  
  <i>publicado por</i> {{ article.author }}
  {% if index %}
    {% include '_includes/article_time.html' %}<br>
    <i><a class="right" href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Comentários</a></i>    
  {% else %}
    <br><i>classificado sob</i>
    {% if article.tags %}
    <span class="categories">
      {% for tag in article.tags %}
        <a class="category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% if not loop.last %}
          <span>, </span>
        {% endif %}
      {% endfor %}        
    </span>
   {% endif %}
  {% endif %}  
</p>
