<div class="title">{{ SITENAME }}</div>
{% if SITESUBTITLE %}
    <div class="subtitle">{{ SITESUBTITLE }}</div>
{% endif %}
<div class="navi">
    <ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            <!-- TODO: add categories here? -->
        {% endif %}
    </ul>
    <img class="title-image" alt="Portvgal" src="{{ SITEURL }}/theme/images/cristo_simples.svg" width="200px"> 
</div> <!-- // .navi -->
<footer>
    <p>fragmentos de política ultramarina portuguesa</p>
    <img class="rol-image" alt="Rosa dos ventos" src="{{ SITEURL }}/theme/images/rosa_pb.png" width="100px"> 
</footer>