$font-path: "../font/";

@include font-face('museo-sans', '#{$font-path}MuseoSans');
@include font-face('sofia-pro-light', '#{$font-path}SofiaProLight-webfont');
@include font-face('bookletter', '#{$font-path}goudy_bookletter_1911-webfont');
@include font-face('governor', '#{$font-path}governor-webfont');
@include font-face('nevis', '#{$font-path}nevis-webfont');
@include font-face('calluna-regular', '#{$font-path}Calluna-Regular-webfont');
@include font-face('futura-medium', '#{$font-path}futura-md-bt-medium-webfont');

